
.bg-image {
    background-image: url('../public/bakckground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  

.Container{
    margin-top: 80px;
    margin-left: 300px;
   
}

.Profil {
    height:500px;
    margin-top: 200px;
  
}

.garis {
    border-top: 3px solid black;
}
img {
  max-width: 100%;
  height: auto;
}

.corousel {
    height: 450px;
}
/* 
@media only screen and (min-width: 768px) {
  img {
    max-width: 50%;
  }
    .bg-image {
        background-image: url('../public/bakckground.png');
      }
  } */



